<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form action="">
  Name:<br>
  <input type="text" name="name" value="Enter name">
  <br><br>
  Age:<br>
  <input type="number" name="age" value="">
  <br><br>
  Gender:<br>
  <select name="gender">
    <option value="f">Female</option>
    <option value="m">Male</option>
  </select>
  <br>
  <br>
  Height (in cm):<br>
  <input type="number" name="height" value="120">
  <br><br>
  Weight (in kg):<br>
  <input type="number" name="weight" value="">
  <br><br>
  Diet:<br>
  <select name="diet">
    <option value="balanced"> Balanced </option>
    <option value="slight"> Slightly Unhealthy </option>
    <option value="unhealthy"> Unhealthy </option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>