{% extends 'layout.html' %}
{% block body %}
    <div>
    </div>
    <h2> YOUR OVERALL HEALTH </h2>
    <div class="overall-meter">
        <div id="docsChart"></div>
<script src='https://static.codepen.io/assets/common/stopExecutionOnTimeout-de7e2ef6bfefd24b79a3f68b414b87b8db5b08439cac3f1012092b2290c719cd.js'></script><script src='https://d3js.org/d3.v3.min.js'></script>
<script >var width = 275,
height = 275,
twoPi = 2 * Math.PI,
progress = 0,
allocated = {{variable}},
total = 100,
formatPercent = d3.format(".0%");

var arc = d3.svg.arc().
startAngle(0).
innerRadius(100).
outerRadius(130);

var svg = d3.select("#docsChart").append("svg").
attr("width", width).
attr("height", height).
append("g").
attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

var meter = svg.append("g").
attr("class", "funds-allocated-meter");

meter.append("path").
attr("class", "background").
attr("d", arc.endAngle(twoPi));

var foreground = meter.append("path").
attr("class", "foreground");

var percentComplete = meter.append("text").
attr("text-anchor", "middle").
attr("class", "percent-complete").
attr("dy", "0em");

var description = meter.append("text").
attr("text-anchor", "middle").
attr("class", "description").
attr("dy", "2.3em").
text("Total Complete");

var i = d3.interpolate(progress, allocated / total);

d3.transition().duration(1000).tween("progress", function () {
    return function (t) {
        progress = i(t);
        foreground.attr("d", arc.endAngle(twoPi * progress));
        percentComplete.text(formatPercent(progress));
    };
});
//# sourceURL=pen.js
</script>
	</div>
    <div class="overall">
        <h4> {{m}} </h4>
        <p> {{base}} <br>
        </p>
    </div>
    <a href="/planpage">
	<div class="plan">
	    <p style="font-size: 175%"> P L A N </p>
		<!--<p> based on your identity as a student: </p>-->
        <p> EXERCISE</p>
		<ul>
		    <li> {{run}} </li>
			<li> take the stairs instead of the lift/escalator </li>
		</ul>
        <p> DIET </p>
        <ul>
            <li> {{plan}}</li>
            <li> incorporate one more daily serving of fruit </li>
            <li> cut down on soft drinks </li>
        </ul>
        <br>
		<p> {{eta}} </p>
	</div>
    </a>
    <div class="side-bar">
        <a href="/inspopage">
        <div class="inspo">
            <p style="font-size: 175%"> I N S P O</p>
            <p> food blogs? places to go? <br>
        explore them here!</p>
        </div>
        </a>
        <a href="/statspage">
        <div class="progress">
            <p style="font-size: 175%"> P R O G R E S S </p>
            <p> stats etc. see how you're doing! </p>
        </div>
        </a>
    </div>
{% endblock %}